@font-face {
    font-family: 'ClarendonRegular';
    src: url('../fontes/Clarendon-Regular-Font.ttf') format('truetype');
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    font-family: 'ClarendonRegular', sans-serif;
}

.container {
    max-width: 900px; /* Ajuste este valor conforme necessário */
    width: 100%; /* Permite que o container ocupe a largura total disponível */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2px auto; /* Centraliza o container horizontalmente */
    max-height: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

.setAtivos{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d7da;
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para o modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}
.btn-alert {
    background-color: #218838;
}
.btn-alert:hover {
    background-color: #a79428;
}
.sidebar{
    width: 15%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #002244, #0056a3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
    padding: 2rem 0;
    overflow: hidden;
    transition: width .3s ease-in-out;
    border-radius: 12px;
    margin-right: 10px;
}
.sidebar.active{
    width: 5%;
}

.containerSidebar{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-radius: 12px;
    margin-top: -80px;
    padding: 0;
}
.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 2px;
    margin-top: -50px;
}

.menu li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    padding: 15px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    margin-top: 30px;
}
.menu li a:hover{
    background: rgba(255, 255, 255, .3);
}
.menu li a i{
    font-size: 25px;
}

.logout{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 18px;
    padding: 0 10%;
    color: white;
}
.logout a{
    text-decoration: none;
    list-style: none;
    color: white;
    border-radius: 15px;
    padding: 1rem 10%;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.logout a:hover{
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}
.sidebar.active .menu li a span,
.sidebar.active .logout span{
    display: none;
}

.sidebar.active .menu li a,
.sidebar.active .logout{
    justify-content: center;
}
table.tabela-setores {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Espaço acima e abaixo da tabela */
}

table.tabela-setores, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Linhas pares com fundo diferente para melhor legibilidade */
}

tbody tr:hover {
    background-color: #e9ecef; /* Efeito hover nas linhas da tabela */
}
/* Media Queries para responsividade */ 
 @media (max-width: 959px) { 
    .sidebar { 
        width: 5%; 
        height: auto; 
    } 
    .menu li a span, .logout span { 
        display: none; 
    } 
    .menu li a, .logout { 
        justify-content: center; 
    } 
    .container { 
        padding: 10px; 
    } 
    .containerSidebar { 
        margin-top: 0; 
    } 
    .container, .sidebar { 
        width: 90%; 
        margin: 0 auto; 
    } 
    .menu li a, .logout { 
        padding: 10px 5px; 
    } 
    .menu li a i, .logout i { 
        font-size: 20px; 
    } 
} 
@media (max-width: 600px) { 
    .container { 
        padding: 5px; 
    } 
    .sidebar { 
        width: 100%; 
        height: auto; 
        flex-direction: row; 
        justify-content: space-around; 
    } 
    .menu { 
        flex-direction: row; 
        margin-top: 0; 
    } 
    .menu li { 
        margin: 0; 
    } 
    .menu li a { 
        padding: 5px 2px; 
        font-size: 14px; 
    } 
    .menu li a i { 
        font-size: 18px; 
    } 
    .logout { 
        padding: 5px 2px; 
    } 
}