@font-face {
    font-family: 'ClarendonRegular';
    src: url('../fontes/Clarendon-Regular-Font.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
/* Estilo do fundo da tela de loading */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'ClarendonRegular', sans-serif;
}

/* Tela de loading */
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/BackgroundLoading.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

#loading-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/BackgroundLoading.jpg);
    filter: brightness(0.7); 
    z-index: 1; 
    background-image: url(../images/BackgroundLoading.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #17da17;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 2; 
}

p {
    z-index: 3;
    color: #f0f0f0;
    font-family: 'ClarendonRegular', sans-serif;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}